{%load static%}
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<meta name="author" content="Max Serov">

<!-- Favicon -->
<link href="{% static 'img/icons8-appartments-100.png' %}" rel="icon">


<!-- Libraries Stylesheet -->
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Stylesheet -->
<link href="{% static 'css/style.min.css' %}" rel="stylesheet">
