<!-- Modal Filters -->
<div class="modal fade" id="FilterModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Search Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center" id="checkbox-example-filters" data-mdb-items=".checkbox-example-item" data-mdb-auto-filter="true">
                <div class="col-md-6" data-mdb-filter="color" style="margin-bottom: 15px;">
                    <span class="fa-lg mb-5" >Type</span>
            
                    <div class="form-check mt-3 ">
                        <input class="form-check-input bedding" type="checkbox" id="inlineCheckbox1" value="offplan" autocompleted="">
                        <label class="form-check-label" for="inlineCheckbox1">Offplan</label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input bedding" type="checkbox" id="inlineCheckbox2" value="secondary" autocompleted="">
                        <label class="form-check-label" for="inlineCheckbox2">Secondary</label>
                    </div>
                    
                </div>
                <div class="col-md-6" data-mdb-filter="color" style="margin-bottom: 15px;">
                <span class="fa-lg mb-5">Type of Property</span>
        
                <div class="form-check mt-3">
                    <input class="form-check-input accommodation" type="checkbox" id="inlineCheckbox1" value="apartments" autocompleted="">
                    <label class="form-check-label" for="inlineCheckbox1">Apartments</label>
                </div>
        
                <div class="form-check">
                    <input class="form-check-input accommodation" type="checkbox" id="inlineCheckbox2" value="villas" autocompleted="">
                    <label class="form-check-label" for="inlineCheckbox2">Villas</label>
                </div>
        
                <div class="form-check">
                    <input class="form-check-input accommodation" type="checkbox" id="inlineCheckbox3" value="penthouses" autocompleted="">
                    <label class="form-check-label" for="inlineCheckbox3">Penthouses</label>
                </div>
        
                <div class="form-check">
                    <input class="form-check-input accommodation" type="checkbox" id="inlineCheckbox4" value="townhouses">
                    <label class="form-check-label" for="inlineCheckbox4">Townhouses</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input accommodation" type="checkbox" id="inlineCheckbox4" value="duplex">
                    <label class="form-check-label" for="inlineCheckbox4">Duplex</label>
                </div>
                </div>
        
            </div>
            <div class="row justify-content-center">
                <!-- <div class="col-md-6" style="margin-bottom: 15px;">
                    <span class="fa-lg mb-5">Location</span>
                    {% for location in locations %}
                        <div class="form-check{% if forloop.first %} mt-2{% endif %}">
                            <input class="form-check-input location" type="checkbox" id="inlineCheckbox{{ forloop.counter }}" value="{{ location }}">
                            <label class="form-check-label" for="inlineCheckbox{{ forloop.counter }}">{{ location }}</label>
                        </div>
                    {% endfor %}
            
                    </div>
        
                <div class="col-md-6" style="margin-bottom: 15px;">
                <span class="fa-lg mb-3">Developers</span>
                    {%for developer in developers%}
                    <div class="form-check{% if forloop.first %} mt-2{% endif %}">
                        <input class="form-check-input developer" type="checkbox" id="inlineCheckbox5" value="{{developer}}">
                        <label class="form-check-label" for="inlineCheckbox5">{{developer}}</label>
                    </div>
                    {%endfor%}
                </div> -->
                <div class="col-md-11" style="">
                    <span class="fa-lg mb-3">Price Range</span>
                    <div class="price-input">
                        <div class="field">
                          <span>Min AED</span>
                          <input type="number" class="input-min" value="200000">
                        </div>
                        <div class="separator">-</div>
                        <div class="field">
                          <span>Max AED</span>
                          <input type="number" class="input-max" value="30000000">
                        </div>
                      </div>
                      <div class="slider">
                        <div class="progress"></div>
                      </div>
                      <div class="range-input">
                        <input type="range" class="range-min" id="range-min" min="200000" max="30000000" value="200000" step="100000">
                        <input type="range" class="range-max" id="range-max" min="0" max="30000000" value="30000000" step="500000">
                      </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <div style="width: 80%; margin: 0 auto; text-align: center; display: inline-block;">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="width: 70%; display: inline;"  id="apply">Apply Filters</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="width: 15%;background-color: red; display: inline;" id="clear"><i class="fas fa-trash"></i></button>
            </div>    
        </div>
    </div>
    </div>
</div>


<!-- Search Start -->
<div class="container-fluid bg-primary-search mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container searchbar">
        <div class="row g-2">
            <div class="col-md-12">
                <div class="row g-2">
                    <div class="col-md-12">
                        <input type="text" class="form-control border-0 py-3" placeholder="Search Keyword" id="search_backend">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            <div class="row g-2">
                <div class="col-md-12">
                    <div style="border-radius: 5px; overflow-x: hidden;">
                <ul class="list-group list-group-horizontal overflow-auto w-100">
                    <!-- <li class="list-group-item"><button class="btn btn-filter border-0 w-100 " data-bs-toggle="modal" data-bs-target="#FilterModal"><i class="fas fa-filter"></i></button></li> -->
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters"><i class="fas fa-toolbox"></i>  Type</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters"><i class="fas fa-home"></i>  Category</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters"><i class="fas fa-dollar-sign"></i>  Price Range</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters"><i class="fas fa-building"></i>  Developer</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters"><i class="fas fa-map-marker-alt"></i>  Location</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters"><i class="fas fa-bed"></i>  Beds</button></li>
                </ul>
                </div>
                </div>
            </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Search End -->