<!-- Status Filter -->
<div class="modal fade" id="StatusFilterModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-md-12 filter_res">

                    <div class="mt-3">
                        <input type="checkbox" class="btn-check status" id="btn-check-status-1" autocomplete="off" value="offplan">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check-status-1">Offplan</label>
                    </div>
                    <div>
                        <input type="checkbox" class="btn-check status" id="btn-check-status-2" autocomplete="off" value="ready">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check-status-2">Ready</label>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <div style="width: 80%; margin: 0 auto; text-align: center; display: inline-block;">
                <button type="button" class="btn btn-primary apply" data-bs-dismiss="modal" style="width: 70%; display: inline;"  id="status">Apply Filters</button>
                <button type="button" class="btn btn-primary clear" data-bs-dismiss="modal" style="width: 15%;background-color: red; display: inline;" id="status"><i class="fas fa-trash"></i></button>
            </div>    
        </div>
    </div>
    </div>
</div>

<!-- Category Filter -->
<div class="modal fade" id="CategoryFilterModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="row justify-content-center">
                <div class="col-md-12 filter_res">
                    
                    <div class="mt-3">
                        <input type="checkbox" class="btn-check accommodation" id="btn-check-1" autocomplete="off" value="apartments">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check-1">Apartments</label>
                    </div>
                    <div>
                        <input type="checkbox" class="btn-check accommodation" id="btn-check-2" autocomplete="off" value="villas">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check-2">Villas</label>
                    </div>
                    <div>
                        <input type="checkbox" class="btn-check accommodation" id="btn-check-3" autocomplete="off" value="penthouses">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check-3">Penthouses</label>
                    </div>
                    <div>
                        <input type="checkbox" class="btn-check accommodation" id="btn-check-4" autocomplete="off" value="townhouses">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check-4">Townhouses</label>
                    </div>
                    <div>
                        <input type="checkbox" class="btn-check accommodation" id="btn-check-5" autocomplete="off" value="duplex">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check-5">Duplex</label>
                    </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">

            <div style="width: 80%; margin: 0 auto; text-align: center; display: inline-block;">
                <button type="button" class="btn btn-primary apply" data-bs-dismiss="modal" style="width: 70%; display: inline;">Apply</button>
                <button type="button" class="btn btn-primary clear" data-bs-dismiss="modal" style="width: 15%;background-color: red; display: inline;" id="accommodation"><i class="fas fa-trash"></i></button>
            </div>    
        </div>
    </div>
    </div>
</div>

<!-- Bedding Filter -->
<div class="modal fade" id="BeddingFilterModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Beds</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="row justify-content-center">
                <div class="col-md-12 filter_res">
            
                    <div class=" mt-3">
                        <input type="checkbox" class="btn-check bedding" id="btn-check1" autocomplete="off" value="studio">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check1">Studio</label>
                    </div>
            
                    <div class="">
                        <input type="checkbox" class="btn-check bedding" id="btn-check2" autocomplete="off" value="1">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check2">1 Bedroom</label>
                    </div>
            
                    <div class="">
                        <input type="checkbox" class="btn-check bedding" id="btn-check3" autocomplete="off" value="2">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check3">2 Bedrooms</label>
                    </div>
            
                    <div class="">
                        <input type="checkbox" class="btn-check bedding" id="btn-check4" autocomplete="off" value="3">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check4">3 Bedrooms</label>
                    </div>
                    <div class="">
                        <input type="checkbox" class="btn-check bedding" id="btn-check5" autocomplete="off" value="4">
                        <label class="btn btn-outline-primary btn-filters-inner" for="btn-check5">4 Bedrooms</label>
                    </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">

            <div style="width: 80%; margin: 0 auto; text-align: center; display: inline-block;">
                <button type="button" class="btn btn-primary apply" data-bs-dismiss="modal" style="width: 70%; display: inline;">Apply</button>
                <button type="button" class="btn btn-primary clear" data-bs-dismiss="modal" style="width: 15%;background-color: red; display: inline;" id="bedding"><i class="fas fa-trash"></i></button>
            </div>    
        </div>
    </div>
    </div>
</div>

<!-- Location Filter -->
<div class="modal fade" id="LocationFilterModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="row justify-content-center">
                <div class="col-md-12 filter_res">
                    <div class="search_block">
						<form class="search_outer">
							<button class="search_btn">
								<i class="fas fa-search search_icon" ></i>
							</button>
							<input type="text" placeholder="Search for location..." class="search_input" id="search_loc">
						</form>
					</div>
                    {% for location in locations %}
                        <div class="{% if forloop.first %} mt-2{% endif %}" style="text-align: center;">
                            <input type="checkbox" class="btn-check location" id="btn-check-loc{{ forloop.counter }}" autocomplete="off" value="{{ location }}">
                            <label class="btn btn-outline-primary btn-filters-inner search_loc_item" for="btn-check-loc{{ forloop.counter }}">{{ location }}</label>
                            <!-- <input class="form-check-input location" type="checkbox" id="inlineCheckbox{{ forloop.counter }}" value="{{ location }}">
                            <label class="form-check-label" for="inlineCheckbox{{ forloop.counter }}">{{ location }}</label> -->
                        </div>
                    {% endfor %}
            
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="width: 80%; margin: 0 auto; text-align: center; display: inline-block;">
                <button type="button" class="btn btn-primary apply" data-bs-dismiss="modal" style="width: 70%; display: inline;">Apply</button>
                <button type="button" class="btn btn-primary clear" data-bs-dismiss="modal" style="width: 15%;background-color: red; display: inline;" id="location"><i class="fas fa-trash"></i></button>
            </div>    
        </div>
    </div>
    </div>
</div>


<!-- Developer Filter -->
<div class="modal fade" id="DeveloperFilterModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Developer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="row justify-content-center" style="margin-bottom: 30px;">
                <div class="col-md-12 filter_res">
                    <div class="search_block">
						<form class="search_outer">
							<button class="search_btn">
								<i class="fas fa-search search_icon" ></i>
							</button>
							<input type="text" placeholder="Search for developers..." class="search_input" id="search_dev">
						</form>
					</div>
                    {%for developer in developers%}
                    <div class="{% if forloop.first %} mt-2{% endif %}">
                        <input type="checkbox" class="btn-check developer" id="btn-check-dev{{ forloop.counter }}" autocomplete="off" value="{{ developer }}">
                        <label class="btn btn-outline-primary btn-filters-inner search_dev_item" for="btn-check-dev{{ forloop.counter }}">{{ developer }}</label>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <div style="width: 80%; margin: 0 auto; text-align: center; display: inline-block;">
                <button type="button" class="btn btn-primary apply" data-bs-dismiss="modal" style="width: 70%; display: inline;">Apply</button>
                <button type="button" class="btn btn-primary clear" data-bs-dismiss="modal" style="width: 15%;background-color: red; display: inline;" id="developer"><i class="fas fa-trash"></i></button>
            </div>    
        </div>
    </div>
    </div>
</div>

<!-- Price Filter -->
<div class="modal fade" id="PriceFilterModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Price Range</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="row justify-content-center" style="margin-bottom: 30px;">
                <div class="col-md-11" id="price-filter">
                    <div class="price-input">
                        <div class="field">
                          <span>Min AED</span>
                          <input type="number" class="input-min" value="200000">
                        </div>
                        <div class="separator">-</div>
                        <div class="field">
                          <span>Max AED</span>
                          <input type="number" class="input-max" value="30000000">
                        </div>
                      </div>
                      <div class="slider">
                        <div class="progress"></div>
                      </div>
                      <div class="range-input">
                        <input type="range" class="range-min" id="range-min" min="200000" max="30000000" value="200000" step="100000">
                        <input type="range" class="range-max" id="range-max" min="0" max="30000000" value="30000000" step="500000">
                      </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <div style="width: 80%; margin: 0 auto; text-align: center; display: inline-block;">
                <button type="button" class="btn btn-primary apply" data-bs-dismiss="modal" style="width: 70%; display: inline;" >Apply</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="width: 15%;background-color: red; display: inline;" id="clear-price"><i class="fas fa-trash"></i></button>
            </div>    
        </div>
    </div>
    </div>
</div>


<!-- Search Start -->
<div class="container-fluid bg-primary-search mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container searchbar">
        <div class="row g-2">
            <div class="col-md-12">
                <div class="row g-2">
                    <div class="col-md-12">
                        <input type="text" class="form-control border-0 py-3" placeholder="Search Keyword" id="search_backend">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            <div class="row g-2">
                <div class="col-md-12" >
                    <div style="border-radius: 5px; overflow-x: hidden; background-color: white;">
                <ul class="list-group list-group-horizontal overflow-auto w-100" id="filter_menu">
                    <li class="list-group-item" style="padding-right: 5px; " ><p class="indicate-scroll" style="font-size: 16px; margin: 0;"><i class="fas fa-chevron-left" style="margin-top: 10px;"></i></p></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters status" data-bs-toggle="modal" data-bs-target="#StatusFilterModal"><i class="fas fa-toolbox"></i>  Type</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters accommodation"  data-bs-toggle="modal" data-bs-target="#CategoryFilterModal"><i class="fas fa-home"></i>  Category</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters price" data-bs-toggle="modal" data-bs-target="#PriceFilterModal"><i class="fas fa-dollar-sign"></i>  Price Range</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters developer"  data-bs-toggle="modal" data-bs-target="#DeveloperFilterModal"><i class="fas fa-building"></i>  Developer</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters location" data-bs-toggle="modal" data-bs-target="#LocationFilterModal" style="font-size: 16px;"><i class="fas fa-map-marker-alt"></i>  Location</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters bedding"  data-bs-toggle="modal" data-bs-target="#BeddingFilterModal"><i class="fas fa-bed"></i>  Beds</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-filters" id="clear-all"><i class="fas fa-times"></i>  Clear All</button></li>
                    <li class="list-group-item" style="padding-right: 5px; " ><p class="indicate-scroll" style="font-size: 16px; margin: 0;"><i class="fas fa-chevron-right" style="margin-top: 10px; margin-right: 10px; margin-left: -5px;"></i></p></li>
                </ul>
                </div>
                </div>
            </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Search End -->